image: gradle:latest  

stages:
  - build
  - test 
  - coverage
  - checkstyle 
  
build-job:
  stage: build
  script:
    - echo $CI_MERGE_REQUEST_DIFF_ID
    - gradle assemble

test-job:
  stage: test
  script:
    - gradle test

coverage-job:
  stage: coverage
  script:
    - gradle jacocoTestCoverageVerification
  artifacts:
    when: always
    paths:
      - $CI_PROJECT_DIR/*/build/reports/*

checkstyle-job:
  stage: checkstyle
  script:
    - gradle check
  artifacts:
    when: always
    paths:
      - $CI_PROJECT_DIR/*/build/reports/*