image: gradle:latest  

stages:
  - build
  - test 
  - coverage
  - checkstyle 
  - distribute
  
build-job:
  stage: build
  script:
    - echo "$CI_MERGE_REQUEST_DIFF_ID"
    - gradle assemble

test-job:
  stage: test
  script:
    - gradle test
    - gradle testCodeCoverageReport
    - cat $CI_PROJECT_DIR/build/reports/jacoco/testCodeCoverageReport/html/index.html | grep -o 'Total[^%]*%' | sed 's/<.*>/ /; s/Total/Code Coverage:/'

coverage-job:
  stage: coverage
  script:
    - gradle jacocoTestCoverageVerification
    
  artifacts:
    when: on_failure
    paths:
      - $CI_PROJECT_DIR/*/build/reports/*

checkstyle-job:
  stage: checkstyle
  script:
    - gradle check
  artifacts:
    when: always
    paths:
      - $CI_PROJECT_DIR/*/build/reports/*

distribute-job:
  stage: distribute
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - gradle -Pversion=$CI_COMMIT_TAG distZip
  artifacts:
    paths:
      - $CI_PROJECT_DIR/*/build/distributions/*.zip 